/*Jorge: he puesto en todos los inputs, listas y eso un poco de borde circular,
si veis que es demasiado, quitadle algunes px, o si no os gusta es quitarlo
(es que yo no puedo con casi ninguna pestaña cuadrada, eso es viejo de pelotas xD)*/
input, select{
    border-radius: 5px;
    border-color: white;
}

body>header img {
    margin: auto;
}

label {
    margin-bottom: 5px;
}

/*A partir de aquí es lo que ya había (excepto en los border radius de .print y .reset)*/

#logo{
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}

#cartIcon{
    width: 20px;
    height: 20px;
}
h1 {
    text-align: center;
}

/*Caja formulario*/
section>header {
    background-color: grey;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 300px;
    margin: 0 auto;
    padding: 0px 450px 0px 30px;
}

form {
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 300px;
    margin: 0 auto;
    padding: 30px 450px 20px 30px;
    box-shadow:  10px 10px 20px #bebebe;
}


h2 {
    display: inline-block;
}

/*Separación de inputs*/
form label {
    display: block;
}

form input {
    clear: right;
    margin-bottom: 10px;
}
#spanArticlePrice{
    position: absolute;
    margin-left: 10px;   
}


.wayToPay {
    display: block;
}

.selectWayToPay {
    display:block;
    margin-bottom: 70px;
}

.buttonTerms {
    clear:left;
    display:  inline-block;
}

.terms {
    display: inline-block;
    clear: right;
    margin-bottom: 10px;
}


.print {
    display: inline-block;
    border-radius: 5px;
}

.reset {
    display: inline-block;
    border-radius: 5px;
}

#tc {
    display: block;
    margin-bottom: 15px;
}